In [49]:
# import modules
import pandas as pd

In [50]:
# link file
file_location='datasets/heights.csv'

In [51]:
ColumnName=['Rank','Country','MaleHeight','FemaleHeight','MaleHeight(ft)','FemaleHeight(ft)']

In [52]:
# create dataset
# dataframe = df
# read csv file
df=pd.read_csv(file_location,names=ColumnName)

In [53]:
# print shape of data
print(df.shape)

(200, 6)

In [54]:
# show first 5 rows
df.head()

,Rank,Country,MaleHeight,FemaleHeight,MaleHeight(ft),FemaleHeight(ft)
0,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
1,1,Netherlands,183.78,170.36,6.03,5.59
2,2,Montenegro,183.30,169.96,6.01,5.58
3,3,Estonia,182.79,168.66,6.00,5.53
4,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49

In [ ]:
#